# NUMPY PROJECT
Extract table country in 'world' database from MYSQL workbench
1. Use numpy to get the highest population of the country name 
1i. country Region
2. get the localname with the higest and the lowest GNP 
3. extract all the null and not null in both indepYear and GNPOld 
4. use numpy to get the highest and the lowest continent population

In [35]:
import numpy as np
import pandas as pd

In [36]:
# Importing the dataset
# The data set was first exported to excel as csv file
world = pd.read_csv('C:\\Users\\MY LAPTOP\\Desktop\\SQI\\Data Science\\Numpy\\Numpy Project Dataset\\world-d.csv')
world.head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL

In [37]:
# Creating np array for name, region and population
country_name = np.array(world['Name'])
country_region = np.array(world['Region'])
pop = np.array(world['Population'])
local_name = np.array(world['LocalName'])
gnp = np.array(world['GNP'])

In [38]:
country_name

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Albania', 'Andorra',
       'Netherlands Antilles', 'United Arab Emirates', 'Argentina',
       'Armenia', 'American Samoa', 'Antarctica',
       'French Southern territories', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei', 'Bhutan',
       'Bouvet Island', 'Botswana', 'Central African Republic', 'Canada',
       'Cocos (Keeling) Islands', 'Switzerland', 'Chile', 'China',
       'CÃ´te dÂ’Ivoire', 'Cameroon',
       'Congo, The Democratic Republic of the', 'Congo', 'Cook Islands',
       'Colombia', 'Comoros', 'Cape Verde', 'Costa Rica', 'Cuba',
       'Christmas Island', 'Cayman Islands', 'Cyprus', 'Czech Republic',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Western Sahara',
       'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji Islands',
       'Falkland Islands', 'France', 'Faroe Islands',
       'Micronesia, Federated States of', 'Gabon', 'United Kingdom',
       'Georgia', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Gambia',
       'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Greenland', 'Guatemala', 'French Guiana', 'Guam', 'Guyana',
       'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras',
       'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India',
       'British Indian Ocean Territory', 'Ireland', 'Iran', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libyan Arab Jamahiriya', 'Saint Lucia',
       'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Macao', 'Morocco', 'Monaco', 'Moldova', 'Madagascar',
       'Maldives', 'Mexico', 'Marshall Islands', 'Macedonia', 'Mali',
       'Malta', 'Myanmar', 'Mongolia', 'Northern Mariana Islands',
       'Mozambique', 'Mauritania', 'Montserrat', 'Martinique',
       'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia',
       'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua',
       'Niue', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'Oman', 'Pakistan', 'Panama', 'Pitcairn', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Puerto Rico',
       'North Korea', 'Portugal', 'Paraguay', 'Palestine',
       'French Polynesia', 'Qatar', 'RÃ©union', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'South Georgia and the South Sandwich Islands',
       'Saint Helena', 'Svalbard and Jan Mayen', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia',
       'Saint Pierre and Miquelon', 'Sao Tome and Principe', 'Suriname',
       'Slovakia', 'Slovenia', 'Sweden', 'Swaziland', 'Seychelles',
       'Syria', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Tokelau', 'Turkmenistan', 'East Timor', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Taiwan',
       'Tanzania', 'Uganda', 'Ukraine',
       'United States Minor Outlying Islands', 'Uruguay', 'United States',
       'Uzbekistan', 'Holy See (Vatican City State)',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'Virgin Islands, British', 'Virgin Islands, U.S.', 'Vietnam',
       'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen', 'Yugoslavia',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [39]:
country_region

array(['Caribbean', 'Southern and Central Asia', 'Central Africa',
       'Caribbean', 'Southern Europe', 'Southern Europe', 'Caribbean',
       'Middle East', 'South America', 'Middle East', 'Polynesia',
       'Antarctica', 'Antarctica', 'Caribbean',
       'Australia and New Zealand', 'Western Europe', 'Middle East',
       'Eastern Africa', 'Western Europe', 'Western Africa',
       'Western Africa', 'Southern and Central Asia', 'Eastern Europe',
       'Middle East', 'Caribbean', 'Southern Europe', 'Eastern Europe',
       'Central America', 'North America', 'South America',
       'South America', 'Caribbean', 'Southeast Asia',
       'Southern and Central Asia', 'Antarctica', 'Southern Africa',
       'Central Africa', 'North America', 'Australia and New Zealand',
       'Western Europe', 'South America', 'Eastern Asia',
       'Western Africa', 'Central Africa', 'Central Africa',
       'Central Africa', 'Polynesia', 'South America', 'Eastern Africa',
       'Western Africa', 'Central America', 'Caribbean',
       'Australia and New Zealand', 'Caribbean', 'Middle East',
       'Eastern Europe', 'Western Europe', 'Eastern Africa', 'Caribbean',
       'Nordic Countries', 'Caribbean', 'Northern Africa',
       'South America', 'Northern Africa', 'Eastern Africa',
       'Northern Africa', 'Southern Europe', 'Baltic Countries',
       'Eastern Africa', 'Nordic Countries', 'Melanesia', 'South America',
       'Western Europe', 'Nordic Countries', 'Micronesia',
       'Central Africa', 'British Islands', 'Middle East',
       'Western Africa', 'Southern Europe', 'Western Africa', 'Caribbean',
       'Western Africa', 'Western Africa', 'Central Africa',
       'Southern Europe', 'Caribbean', 'North America', 'Central America',
       'South America', 'Micronesia', 'South America', 'Eastern Asia',
       'Antarctica', 'Central America', 'Southern Europe', 'Caribbean',
       'Eastern Europe', 'Southeast Asia', 'Southern and Central Asia',
       'Eastern Africa', 'British Islands', 'Southern and Central Asia',
       'Middle East', 'Nordic Countries', 'Middle East',
       'Southern Europe', 'Caribbean', 'Middle East', 'Eastern Asia',
       'Southern and Central Asia', 'Eastern Africa',
       'Southern and Central Asia', 'Southeast Asia', 'Micronesia',
       'Caribbean', 'Eastern Asia', 'Middle East', 'Southeast Asia',
       'Middle East', 'Western Africa', 'Northern Africa', 'Caribbean',
       'Western Europe', 'Southern and Central Asia', 'Southern Africa',
       'Baltic Countries', 'Western Europe', 'Baltic Countries',
       'Eastern Asia', 'Northern Africa', 'Western Europe',
       'Eastern Europe', 'Eastern Africa', 'Southern and Central Asia',
       'Central America', 'Micronesia', 'Southern Europe',
       'Western Africa', 'Southern Europe', 'Southeast Asia',
       'Eastern Asia', 'Micronesia', 'Eastern Africa', 'Western Africa',
       'Caribbean', 'Caribbean', 'Eastern Africa', 'Eastern Africa',
       'Southeast Asia', 'Eastern Africa', 'Southern Africa', 'Melanesia',
       'Western Africa', 'Australia and New Zealand', 'Western Africa',
       'Central America', 'Polynesia', 'Western Europe',
       'Nordic Countries', 'Southern and Central Asia', 'Micronesia',
       'Australia and New Zealand', 'Middle East',
       'Southern and Central Asia', 'Central America', 'Polynesia',
       'South America', 'Southeast Asia', 'Micronesia', 'Melanesia',
       'Eastern Europe', 'Caribbean', 'Eastern Asia', 'Southern Europe',
       'South America', 'Middle East', 'Polynesia', 'Middle East',
       'Eastern Africa', 'Eastern Europe', 'Eastern Europe',
       'Eastern Africa', 'Middle East', 'Northern Africa',
       'Western Africa', 'Southeast Asia', 'Antarctica', 'Western Africa',
       'Nordic Countries', 'Melanesia', 'Western Africa',
       'Central America', 'Southern Europe', 'Eastern Africa',
       'North America', 'Central Africa', 'South America',
       'Eastern Europe', 'Southern Europe', 'Nordic Countries',
       'Southern Africa', 'Eastern Africa', 'Middle East', 'Caribbean',
       'Central Africa', 'Western Africa', 'Southeast Asia',
       'Southern and Central Asia', 'Polynesia',
       'Southern and Central Asia', 'Southeast Asia', 'Polynesia',
       'Caribbean', 'Northern Africa', 'Middle East', 'Polynesia',
       'Eastern Asia', 'Eastern Africa', 'Eastern Africa',
       'Eastern Europe', 'Micronesia/Caribbean', 'South America',
       'North America', 'Southern and Central Asia', 'Southern Europe',
       'Caribbean', 'South America', 'Caribbean', 'Caribbean',
       'Southeast Asia', 'Melanesia', 'Polynesia', 'Polynesia',
       'Middle East', 'Southern Europe', 'Southern Africa',
       'Eastern Africa', 'Eastern Africa'], dtype=object)

In [40]:
pop

array([    103000,   22720000,   12878000,       8000,    3401200,
            78000,     217000,    2441000,   37032000,    3520000,
            68000,          0,          0,      68000,   18886000,
          8091800,    7734000,    6695000,   10239000,    6097000,
         11937000,  129155000,    8190900,     617000,     307000,
          3972000,   10236000,     241000,      65000,    8329000,
        170115000,     270000,     328000,    2124000,          0,
          1622000,    3615000,   31147000,        600,    7160400,
         15211000, 1277558000,   14786000,   15085000,   51654000,
          2943000,      20000,   42321000,     578000,     428000,
          4023000,   11201000,       2500,      38000,     754700,
         10278100,   82164700,     638000,      71000,    5330000,
          8495000,   31471000,   12646000,   68470000,    3850000,
           293000,   39441700,    1439200,   62565000,    5171300,
           817000,       2000,   59225700,      43000,     119000,
          1226000,   59623400,    4968000,   20212000,      25000,
          7430000,     456000,    1305000,    1213000,     453000,
         10545700,      94000,      56000,   11385000,     181000,
           168000,     861000,    6782000,          0,    6485000,
          4473000,    8222000,   10043200,  212107000, 1013662000,
                0,    3775100,   67702000,   23115000,     279000,
          6217000,   57680000,    2583000,    5083000,  126714000,
         16223000,   30080000,    4699000,   11168000,      83000,
            38000,   46844000,    1972000,    5433000,    3282000,
          3154000,    5605000,     154000,      32300,   18827000,
          2153000,    3698500,     435700,    2424200,     473000,
         28351000,      34000,    4380000,   15942000,     286000,
         98881000,      64000,    2024000,   11234000,     380200,
         45611000,    2662000,      78000,   19680000,    2670000,
            11000,     395000,    1158000,   10925000,   22244000,
           149000,    1726000,     214000,   10730000,       2000,
        111506000,    5074000,       2000,   15864000,    4478500,
         23930000,      12000,    3862000,    2542000,  156483000,
          2856000,         50,   25662000,   75967000,      19000,
          4807000,   38653600,    3869000,   24039000,    9997600,
          5496000,    3101000,     235000,     599000,     699000,
         22455500,  146934000,    7733000,   21607000,   29490000,
          9481000,    3567000,          0,       6000,       3200,
           444000,    4854000,    6276000,      27000,   10097000,
             7000,     147000,     417000,    5398700,    1987800,
          8861400,    1008000,      77000,   16125000,      17000,
          7651000,    4629000,   61399000,    6188000,       2000,
          4459000,     885000,      99000,    1295000,    9586000,
         66591000,      12000,   22256000,   33517000,   21778000,
         50456000,          0,    3337000,  278357000,   24318000,
             1000,     114000,   24170000,      21000,      93000,
         79832000,     190000,      15000,     180000,   18112000,
         10640000,   40377000,    9169000,   11669000], dtype=int64)

# Country name and region with highest population

In [41]:
# Country name with highest population
country_name[pop.argmax()]

'China'

In [42]:
# Checking the index of country with highest population
pop.argmax()

41

In [43]:
# Checking the highest population
pop.max()

1277558000

In [44]:
# Region with highest population
country_region[pop.argmax()]

'Eastern Asia'

In [45]:
# Confirming the results from dataframe by sorting
world.sort_values(by='Population',ascending=False)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
41,CHN,China,Asia,Eastern Asia,9572900.0,-1523.0,1277558000,71.4,982268.0,917719.0,Zhongquo,People'sRepublic,Jiang Zemin,1891.0,CN
99,IND,India,Asia,Southern and Central Asia,3287263.0,1947.0,1013662000,62.5,447114.0,430572.0,Bharat/India,Federal Republic,Kocheril Raman Narayanan,1109.0,IN
223,USA,United States,North America,North America,9363520.0,1776.0,278357000,77.1,8510700.0,8110900.0,United States,Federal Republic,George W. Bush,3813.0,US
98,IDN,Indonesia,Asia,Southeast Asia,1904569.0,1945.0,212107000,68.0,84982.0,215002.0,Indonesia,Republic,Abdurrahman Wahid,939.0,ID
30,BRA,Brazil,South America,South America,8547403.0,1822.0,170115000,62.9,776739.0,804108.0,Brasil,Federal Republic,Fernando Henrique Cardoso,211.0,BR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,UMI,United States Minor Outlying Islands,Oceania,Micronesia/Caribbean,16.0,NaN,0,NaN,0.0,NaN,United States Minor Outlying Islands,Dependent Territory of the US,George W. Bush,NaN,UM
93,HMD,Heard Island and McDonald Islands,Antarctica,Antarctica,359.0,NaN,0,NaN,0.0,NaN,Heard and McDonald Islands,Territory of Australia,Elisabeth II,NaN,HM
100,IOT,British Indian Ocean Territory,Africa,Eastern Africa,78.0,NaN,0,NaN,0.0,NaN,British Indian Ocean Territory,Dependent Territory of the UK,Elisabeth II,NaN,IO
187,SGS,South Georgia and the South Sandwich Islands,Antarctica,Antarctica,3903.0,NaN,0,NaN,0.0,NaN,South Georgia and the South Sandwich Islands,Dependent Territory of the UK,Elisabeth II,NaN,GS
12,ATF,French Southern territories,Antarctica,Antarctica,7780.0,NaN,0,NaN,0.0,NaN,Terres australes franÃ§aises,Nonmetropolitan Territory of France,Jacques Chirac,NaN,TF

# Get the localname with the highest and lowest GNP

In [46]:
# np array of localname and GNP
print("Localname:\n", local_name, '\n')
print("GNP:\n", gnp)

Localname:
 ['Aruba' 'Afganistan/Afqanestan' 'Angola' 'Anguilla' 'ShqipÃ«ria'
 'Andorra' 'Nederlandse Antillen' 'Al-Imarat al-Â´Arabiya al-Muttahida'
 'Argentina' 'Hajastan' 'Amerika Samoa' 'Â–'
 'Terres australes franÃ§aises' 'Antigua and Barbuda' 'Australia'
 'Ã–sterreich' 'AzÃ¤rbaycan' 'Burundi/Uburundi' 'BelgiÃ«/Belgique'
 'BÃ©nin' 'Burkina Faso' 'Bangladesh' 'Balgarija' 'Al-Bahrayn'
 'The Bahamas' 'Bosna i Hercegovina' 'Belarus' 'Belize' 'Bermuda'
 'Bolivia' 'Brasil' 'Barbados' 'Brunei Darussalam' 'Druk-Yul' 'BouvetÃ¸ya'
 'Botswana' 'Centrafrique/BÃª-AfrÃ®ka' 'Canada' 'Cocos (Keeling) Islands'
 'Schweiz/Suisse/Svizzera/Svizra' 'Chile' 'Zhongquo' 'CÃ´te dÂ’Ivoire'
 'Cameroun/Cameroon' 'RÃ©publique DÃ©mocratique du Congo' 'Congo'
 'The Cook Islands' 'Colombia' 'Komori/Comores' 'Cabo Verde' 'Costa Rica'
 'Cuba' 'Christmas Island' 'Cayman Islands' 'KÃ½pros/Kibris' 'Â¸esko'
 'Deutschland' 'Djibouti/Jibuti' 'Dominica' 'Danmark'
 'RepÃºblica Dominicana' 'Al-JazaÂ’ir/AlgÃ©rie' 'Ecuador' 'Misr' 'Ertra'
 'As-Sahrawiya' 'EspaÃ±a' 'Eesti' 'YeItyopÂ´iya' 'Suomi' 'Fiji Islands'
 'Falkland Islands' 'France' 'FÃ¸royar' 'Micronesia' 'Le Gabon'
 'United Kingdom' 'Sakartvelo' 'Ghana' 'Gibraltar' 'GuinÃ©e' 'Guadeloupe'
 'The Gambia' 'GuinÃ©-Bissau' 'Guinea Ecuatorial' 'EllÃ¡da' 'Grenada'
 'Kalaallit Nunaat/GrÃ¸nland' 'Guatemala' 'Guyane franÃ§aise' 'Guam'
 'Guyana' 'Xianggang/Hong Kong' 'Heard and McDonald Islands' 'Honduras'
 'Hrvatska' 'HaÃ¯ti/Dayti' 'MagyarorszÃ¡g' 'Indonesia' 'Bharat/India'
 'British Indian Ocean Territory' 'Ireland/Ã‰ire' 'Iran' 'Al-Â´Iraq'
 'Ã\x8dsland' 'YisraÂ’el/IsraÂ’il' 'Italia' 'Jamaica' 'Al-Urdunn'
 'Nihon/Nippon' 'Qazaqstan' 'Kenya' 'Kyrgyzstan' 'KÃ¢mpuchÃ©a' 'Kiribati'
 'Saint Kitts and Nevis' 'Taehan MinÂ’guk (Namhan)' 'Al-Kuwayt' 'Lao'
 'Lubnan' 'Liberia' 'Libiya' 'Saint Lucia' 'Liechtenstein'
 'Sri Lanka/Ilankai' 'Lesotho' 'Lietuva' 'Luxembourg/LÃ«tzebuerg'
 'Latvija' 'Macau/Aomen' 'Al-Maghrib' 'Monaco' 'Moldova'
 'Madagasikara/Madagascar' 'Dhivehi Raajje/Maldives' 'MÃ©xico'
 'Marshall Islands/Majol' 'Makedonija' 'Mali' 'Malta' 'Myanma Pye'
 'Mongol Uls' 'Northern Mariana Islands' 'MoÃ§ambique'
 'Muritaniya/Mauritanie' 'Montserrat' 'Martinique' 'Mauritius' 'Malawi'
 'Malaysia' 'Mayotte' 'Namibia' 'Nouvelle-CalÃ©donie' 'Niger'
 'Norfolk Island' 'Nigeria' 'Nicaragua' 'Niue' 'Nederland' 'Norge' 'Nepal'
 'Naoero/Nauru' 'New Zealand/Aotearoa' 'Â´Uman' 'Pakistan' 'PanamÃ¡'
 'Pitcairn' 'PerÃº/Piruw' 'Pilipinas' 'Belau/Palau'
 'Papua New Guinea/Papua Niugini' 'Polska' 'Puerto Rico'
 'Choson Minjujuui InÂ´min Konghwaguk (Bukhan)' 'Portugal' 'Paraguay'
 'Filastin' 'PolynÃ©sie franÃ§aise' 'Qatar' 'RÃ©union' 'RomÃ¢nia'
 'Rossija' 'Rwanda/Urwanda' 'Al-Â´Arabiya as-SaÂ´udiya' 'As-Sudan'
 'SÃ©nÃ©gal/Sounougal' 'Singapore/Singapura/Xinjiapo/Singapur'
 'South Georgia and the South Sandwich Islands' 'Saint Helena'
 'Svalbard og Jan Mayen' 'Solomon Islands' 'Sierra Leone' 'El Salvador'
 'San Marino' 'Soomaaliya' 'Saint-Pierre-et-Miquelon'
 'SÃ£o TomÃ© e PrÃ\xadncipe' 'Suriname' 'Slovensko' 'Slovenija' 'Sverige'
 'kaNgwane' 'Sesel/Seychelles' 'Suriya' 'The Turks and Caicos Islands'
 'Tchad/Tshad' 'Togo' 'Prathet Thai' 'ToÃ§ikiston' 'Tokelau'
 'TÃ¼rkmenostan' 'Timor Timur' 'Tonga' 'Trinidad and Tobago'
 'Tunis/Tunisie' 'TÃ¼rkiye' 'Tuvalu' 'TÂ’ai-wan' 'Tanzania' 'Uganda'
 'Ukrajina' 'United States Minor Outlying Islands' 'Uruguay'
 'United States' 'Uzbekiston' 'Santa Sede/CittÃ\xa0 del Vaticano'
 'Saint Vincent and the Grenadines' 'Venezuela' 'British Virgin Islands'
 'Virgin Islands of the United States' 'ViÃªt Nam' 'Vanuatu'
 'Wallis-et-Futuna' 'Samoa' 'Al-Yaman' 'Jugoslavija' 'South Africa'
 'Zambia' 'Zimbabwe']

GNP:
 [8.280000e+02 5.976000e+03 6.648000e+03 6.320000e+01 3.205000e+03
 1.630000e+03 1.941000e+03 3.796600e+04 3.402380e+05 1.813000e+03
 3.340000e+02 0.000000e+00 0.000000e+00 6.120000e+02 3.511820e+05
 2.118600e+05 4.127000e+03 9.030000e+02 2.497040e+05 2.357000e+03
 2.425000e+03 3.285200e+04 1.217800e+04 6.366000e+03 3.527000e+03
 2.841000e+03 1.371400e+04 6.300000e+02 2.328000e+03 8.571000e+03
 7.767390e+05 2.223000e+03 1.170500e+04 3.720000e+02 0.000000e+00
 4.834000e+03 1.054000e+03 5.988620e+05 0.000000e+00 2.644780e+05
 7.294900e+04 9.822680e+05 1.134500e+04 9.174000e+03 6.964000e+03
 2.108000e+03 1.000000e+02 1.028960e+05 4.401000e+03 4.350000e+02
 1.022600e+04 1.784300e+04 0.000000e+00 1.263000e+03 9.333000e+03
 5.501700e+04 2.133367e+06 3.820000e+02 2.560000e+02 1.740990e+05
 1.584600e+04 4.998200e+04 1.977000e+04 8.271000e+04 6.500000e+02
 6.000000e+01 5.532330e+05 5.328000e+03 6.353000e+03 1.219140e+05
 1.536000e+03 0.000000e+00 1.424285e+06 0.000000e+00 2.120000e+02
 5.493000e+03 1.378330e+06 6.064000e+03 7.137000e+03 2.580000e+02
 2.352000e+03 3.501000e+03 3.200000e+02 2.930000e+02 2.830000e+02
 1.207240e+05 3.180000e+02 0.000000e+00 1.900800e+04 6.810000e+02
 1.197000e+03 7.220000e+02 1.664480e+05 0.000000e+00 5.333000e+03
 2.020800e+04 3.459000e+03 4.826700e+04 8.498200e+04 4.471140e+05
 0.000000e+00 7.592100e+04 1.957460e+05 1.150000e+04 8.255000e+03
 9.747700e+04 1.161755e+06 6.871000e+03 7.526000e+03 3.787042e+06
 2.437500e+04 9.217000e+03 1.626000e+03 5.121000e+03 4.070000e+01
 2.990000e+02 3.207490e+05 2.703700e+04 1.292000e+03 1.712100e+04
 2.012000e+03 4.480600e+04 5.710000e+02 1.119000e+03 1.570600e+04
 1.061000e+03 1.069200e+04 1.632100e+04 6.398000e+03 5.749000e+03
 3.612400e+04 7.760000e+02 1.579000e+03 3.750000e+03 1.990000e+02
 4.149720e+05 9.700000e+01 1.694000e+03 2.642000e+03 3.512000e+03
 1.803750e+05 1.043000e+03 0.000000e+00 2.891000e+03 9.980000e+02
 1.090000e+02 2.731000e+03 4.251000e+03 1.687000e+03 6.921300e+04
 0.000000e+00 3.101000e+03 3.563000e+03 1.706000e+03 0.000000e+00
 6.570700e+04 1.988000e+03 0.000000e+00 3.713620e+05 1.458950e+05
 4.768000e+03 1.970000e+02 5.466900e+04 1.690400e+04 6.128900e+04
 9.131000e+03 0.000000e+00 6.414000e+04 6.510700e+04 1.050000e+02
 4.988000e+03 1.516970e+05 3.410000e+04 5.332000e+03 1.059540e+05
 8.444000e+03 4.173000e+03 8.180000e+02 9.472000e+03 8.287000e+03
 3.815800e+04 2.766080e+05 2.036000e+03 1.376350e+05 1.016200e+04
 4.787000e+03 8.650300e+04 0.000000e+00 0.000000e+00 0.000000e+00
 1.820000e+02 7.460000e+02 1.186300e+04 5.100000e+02 9.350000e+02
 0.000000e+00 6.000000e+00 8.700000e+02 2.059400e+04 1.975600e+04
 2.264920e+05 1.206000e+03 5.360000e+02 6.598400e+04 9.600000e+01
 1.208000e+03 1.449000e+03 1.164160e+05 1.990000e+03 0.000000e+00
 4.397000e+03 0.000000e+00 1.460000e+02 6.232000e+03 2.002600e+04
 2.107210e+05 6.000000e+00 2.562540e+05 8.005000e+03 6.313000e+03
 4.216800e+04 0.000000e+00 2.083100e+04 8.510700e+06 1.419400e+04
 9.000000e+00 2.850000e+02 9.502300e+04 6.120000e+02 0.000000e+00
 2.192900e+04 2.610000e+02 0.000000e+00 1.410000e+02 6.041000e+03
 1.700000e+04 1.167290e+05 3.377000e+03 5.951000e+03]

In [47]:
# Getting highest and lowest GNP
print("Highest GNP: ", gnp.max())
print("Lowest GNP: ", gnp.min())

Highest GNP:  8510700.0
Lowest GNP:  0.0

In [48]:
# Getting index of highest and lowest GNP
print("Index of Highest GNP: ", gnp.argmax())
print("Index of Lowest GNP: ", gnp.argmin())

Index of Highest GNP:  223
Index of Lowest GNP:  11

In [49]:
# Localname with highest GNP
local_name[gnp.argmax()]

'United States'

In [50]:
# Localname with lowest GNP
local_name[gnp.argmin()]

'Â–'

In [51]:
# Confirming highest GNP by sorting
world.sort_values(by='GNP',ascending=False)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
223,USA,United States,North America,North America,9363520.0,1776.0,278357000,77.1,8510700.0,8110900.0,United States,Federal Republic,George W. Bush,3813.0,US
109,JPN,Japan,Asia,Eastern Asia,377829.0,-660.0,126714000,80.7,3787042.0,4192638.0,Nihon/Nippon,Constitutional Monarchy,Akihito,1532.0,JP
56,DEU,Germany,Europe,Western Europe,357022.0,1955.0,82164700,77.4,2133367.0,2102826.0,Deutschland,Federal Republic,Johannes Rau,3068.0,DE
72,FRA,France,Europe,Western Europe,551500.0,843.0,59225700,78.8,1424285.0,1392448.0,France,Republic,Jacques Chirac,2974.0,FR
76,GBR,United Kingdom,Europe,British Islands,242900.0,1066.0,59623400,77.7,1378330.0,1296830.0,United Kingdom,Constitutional Monarchy,Elisabeth II,456.0,GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,SPM,Saint Pierre and Miquelon,North America,North America,242.0,NaN,7000,77.6,0.0,NaN,Saint-Pierre-et-Miquelon,Territorial Collectivity of France,Jacques Chirac,3067.0,PM
142,MNP,Northern Mariana Islands,Oceania,Micronesia,464.0,NaN,78000,75.5,0.0,NaN,Northern Mariana Islands,Commonwealth of the US,George W. Bush,2913.0,MP
150,MYT,Mayotte,Africa,Eastern Africa,373.0,NaN,149000,59.5,0.0,NaN,Mayotte,Territorial Collectivity of France,Jacques Chirac,2514.0,YT
154,NFK,Norfolk Island,Oceania,Australia and New Zealand,36.0,NaN,2000,NaN,0.0,NaN,Norfolk Island,Territory of Australia,Elisabeth II,2806.0,NF
100,IOT,British Indian Ocean Territory,Africa,Eastern Africa,78.0,NaN,0,NaN,0.0,NaN,British Indian Ocean Territory,Dependent Territory of the UK,Elisabeth II,NaN,IO

# Extract all the null and not null in both indepYear and GNPOld

In [52]:
# Creating np array of IndepYear
indep = world['IndepYear'].values
indep

array([   nan,  1919.,  1975.,    nan,  1912.,  1278.,    nan,  1971.,
        1816.,  1991.,    nan,    nan,    nan,  1981.,  1901.,  1918.,
        1991.,  1962.,  1830.,  1960.,  1960.,  1971.,  1908.,  1971.,
        1973.,  1992.,  1991.,  1981.,    nan,  1825.,  1822.,  1966.,
        1984.,  1910.,    nan,  1966.,  1960.,  1867.,    nan,  1499.,
        1810., -1523.,  1960.,  1960.,  1960.,  1960.,    nan,  1810.,
        1975.,  1975.,  1821.,  1902.,    nan,    nan,  1960.,  1993.,
        1955.,  1977.,  1978.,   800.,  1844.,  1962.,  1822.,  1922.,
        1993.,    nan,  1492.,  1991., -1000.,  1917.,  1970.,    nan,
         843.,    nan,  1990.,  1960.,  1066.,  1991.,  1957.,    nan,
        1958.,    nan,  1965.,  1974.,  1968.,  1830.,  1974.,    nan,
        1821.,    nan,    nan,  1966.,    nan,    nan,  1838.,  1991.,
        1804.,  1918.,  1945.,  1947.,    nan,  1921.,  1906.,  1932.,
        1944.,  1948.,  1861.,  1962.,  1946.,  -660.,  1991.,  1963.,
        1991.,  1953.,  1979.,  1983.,  1948.,  1961.,  1953.,  1941.,
        1847.,  1951.,  1979.,  1806.,  1948.,  1966.,  1991.,  1867.,
        1991.,    nan,  1956.,  1861.,  1991.,  1960.,  1965.,  1810.,
        1990.,  1991.,  1960.,  1964.,  1948.,  1921.,    nan,  1975.,
        1960.,    nan,    nan,  1968.,  1964.,  1957.,    nan,  1990.,
          nan,  1960.,    nan,  1960.,  1838.,    nan,  1581.,  1905.,
        1769.,  1968.,  1907.,  1951.,  1947.,  1903.,    nan,  1821.,
        1946.,  1994.,  1975.,  1918.,    nan,  1948.,  1143.,  1811.,
          nan,    nan,  1971.,    nan,  1878.,  1991.,  1962.,  1932.,
        1956.,  1960.,  1965.,    nan,    nan,    nan,  1978.,  1961.,
        1841.,   885.,  1960.,    nan,  1975.,  1975.,  1993.,  1991.,
         836.,  1968.,  1976.,  1941.,    nan,  1960.,  1960.,  1350.,
        1991.,    nan,  1991.,    nan,  1970.,  1962.,  1956.,  1923.,
        1978.,  1945.,  1961.,  1962.,  1991.,    nan,  1828.,  1776.,
        1991.,  1929.,  1979.,  1811.,    nan,    nan,  1945.,  1980.,
          nan,  1962.,  1918.,  1918.,  1910.,  1964.,  1980.])

In [53]:
# Extracting all the null in IndepYear
indep_nan = pd.isna(indep)
indep[indep_nan]

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan])

In [54]:
# Extracting all values in IndepYear
indep_values = pd.notna(indep)
indep[indep_values]

array([ 1919.,  1975.,  1912.,  1278.,  1971.,  1816.,  1991.,  1981.,
        1901.,  1918.,  1991.,  1962.,  1830.,  1960.,  1960.,  1971.,
        1908.,  1971.,  1973.,  1992.,  1991.,  1981.,  1825.,  1822.,
        1966.,  1984.,  1910.,  1966.,  1960.,  1867.,  1499.,  1810.,
       -1523.,  1960.,  1960.,  1960.,  1960.,  1810.,  1975.,  1975.,
        1821.,  1902.,  1960.,  1993.,  1955.,  1977.,  1978.,   800.,
        1844.,  1962.,  1822.,  1922.,  1993.,  1492.,  1991., -1000.,
        1917.,  1970.,   843.,  1990.,  1960.,  1066.,  1991.,  1957.,
        1958.,  1965.,  1974.,  1968.,  1830.,  1974.,  1821.,  1966.,
        1838.,  1991.,  1804.,  1918.,  1945.,  1947.,  1921.,  1906.,
        1932.,  1944.,  1948.,  1861.,  1962.,  1946.,  -660.,  1991.,
        1963.,  1991.,  1953.,  1979.,  1983.,  1948.,  1961.,  1953.,
        1941.,  1847.,  1951.,  1979.,  1806.,  1948.,  1966.,  1991.,
        1867.,  1991.,  1956.,  1861.,  1991.,  1960.,  1965.,  1810.,
        1990.,  1991.,  1960.,  1964.,  1948.,  1921.,  1975.,  1960.,
        1968.,  1964.,  1957.,  1990.,  1960.,  1960.,  1838.,  1581.,
        1905.,  1769.,  1968.,  1907.,  1951.,  1947.,  1903.,  1821.,
        1946.,  1994.,  1975.,  1918.,  1948.,  1143.,  1811.,  1971.,
        1878.,  1991.,  1962.,  1932.,  1956.,  1960.,  1965.,  1978.,
        1961.,  1841.,   885.,  1960.,  1975.,  1975.,  1993.,  1991.,
         836.,  1968.,  1976.,  1941.,  1960.,  1960.,  1350.,  1991.,
        1991.,  1970.,  1962.,  1956.,  1923.,  1978.,  1945.,  1961.,
        1962.,  1991.,  1828.,  1776.,  1991.,  1929.,  1979.,  1811.,
        1945.,  1980.,  1962.,  1918.,  1918.,  1910.,  1964.,  1980.])

In [55]:
# Creating np array of GNPOld
gnpold = world['GNPOld'].values
gnpold

array([7.930000e+02,          nan, 7.984000e+03,          nan,
       2.500000e+03,          nan,          nan, 3.684600e+04,
       3.233100e+05, 1.627000e+03,          nan,          nan,
                nan, 5.840000e+02, 3.929110e+05, 2.060250e+05,
       4.100000e+03, 9.820000e+02, 2.439480e+05, 2.141000e+03,
       2.201000e+03, 3.196600e+04, 1.016900e+04, 6.097000e+03,
       3.347000e+03,          nan,          nan, 6.160000e+02,
       2.190000e+03, 7.967000e+03, 8.041080e+05, 2.186000e+03,
       1.246000e+04, 3.830000e+02,          nan, 4.935000e+03,
       9.930000e+02, 6.256260e+05,          nan, 2.560920e+05,
       7.578000e+04, 9.177190e+05, 1.028500e+04, 8.596000e+03,
       2.474000e+03, 2.287000e+03,          nan, 1.051160e+05,
       4.361000e+03, 4.200000e+02, 9.757000e+03, 1.886200e+04,
                nan, 1.186000e+03, 8.246000e+03, 5.203700e+04,
       2.102826e+06, 3.730000e+02, 2.430000e+02, 1.692640e+05,
       1.507600e+04, 4.696600e+04, 1.976900e+04, 7.561700e+04,
       7.550000e+02,          nan, 5.320310e+05, 3.371000e+03,
       6.180000e+03, 1.198330e+05, 2.149000e+03,          nan,
       1.392448e+06,          nan,          nan, 5.279000e+03,
       1.296830e+06, 5.924000e+03, 6.884000e+03,          nan,
       2.383000e+03,          nan, 3.250000e+02, 2.720000e+02,
       5.420000e+02, 1.199460e+05,          nan,          nan,
       1.779700e+04,          nan, 1.136000e+03, 7.430000e+02,
       1.736100e+05,          nan, 4.697000e+03, 1.930000e+04,
       3.107000e+03, 4.591400e+04, 2.150020e+05, 4.305720e+05,
                nan, 7.313200e+04, 1.601510e+05,          nan,
       7.474000e+03, 9.857700e+04, 1.145372e+06, 6.722000e+03,
       7.051000e+03, 4.192638e+06, 2.338300e+04, 1.024100e+04,
       1.767000e+03, 5.670000e+03,          nan,          nan,
       4.425440e+05, 3.037300e+04, 1.746000e+03, 1.512900e+04,
                nan, 4.056200e+04,          nan, 1.084000e+03,
       1.509100e+04, 1.161000e+03, 9.585000e+03, 1.551900e+04,
       5.639000e+03, 5.940000e+03, 3.351400e+04,          nan,
       1.872000e+03, 3.545000e+03,          nan, 4.014610e+05,
                nan, 1.915000e+03, 2.453000e+03, 3.338000e+03,
       1.710280e+05, 9.330000e+02,          nan, 2.711000e+03,
       1.081000e+03,          nan, 2.559000e+03, 4.186000e+03,
       2.527000e+03, 9.788400e+04,          nan, 3.384000e+03,
                nan, 1.580000e+03,          nan, 5.862300e+04,
       2.023000e+03,          nan, 3.604780e+05, 1.533700e+05,
       4.837000e+03,          nan, 6.496000e+04, 1.615300e+04,
       5.854900e+04, 8.700000e+03,          nan, 6.518600e+04,
       8.223900e+04,          nan, 6.328000e+03, 1.356360e+05,
       3.210000e+04,          nan, 1.021330e+05, 9.555000e+03,
                nan, 7.810000e+02, 8.920000e+03, 7.988000e+03,
       3.484300e+04, 4.429890e+05, 1.863000e+03, 1.461710e+05,
                nan, 4.542000e+03, 9.631800e+04,          nan,
                nan,          nan, 2.200000e+02, 8.580000e+02,
       1.120300e+04,          nan,          nan,          nan,
                nan, 7.060000e+02, 1.945200e+04, 1.820200e+04,
       2.277570e+05, 1.312000e+03, 5.390000e+02, 6.492600e+04,
                nan, 1.102000e+03, 1.400000e+03, 1.539070e+05,
       1.056000e+03,          nan, 2.000000e+03,          nan,
       1.700000e+02, 5.867000e+03, 1.889800e+04, 1.891220e+05,
                nan, 2.634510e+05, 7.388000e+03, 6.887000e+03,
       4.967700e+04,          nan, 1.996700e+04, 8.110900e+06,
       2.130000e+04,          nan,          nan, 8.843400e+04,
       5.730000e+02,          nan, 2.283400e+04, 2.460000e+02,
                nan, 1.570000e+02, 5.729000e+03,          nan,
       1.290920e+05, 3.922000e+03, 8.670000e+03])

In [56]:
# Extracting all the null in gnpold
gnpold_nan = pd.isna(gnpold)
gnpold[gnpold_nan]

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [57]:
# Extracting all the values in gnpold
gnpold_values = pd.notna(gnpold)
gnpold[gnpold_values]

array([7.930000e+02, 7.984000e+03, 2.500000e+03, 3.684600e+04,
       3.233100e+05, 1.627000e+03, 5.840000e+02, 3.929110e+05,
       2.060250e+05, 4.100000e+03, 9.820000e+02, 2.439480e+05,
       2.141000e+03, 2.201000e+03, 3.196600e+04, 1.016900e+04,
       6.097000e+03, 3.347000e+03, 6.160000e+02, 2.190000e+03,
       7.967000e+03, 8.041080e+05, 2.186000e+03, 1.246000e+04,
       3.830000e+02, 4.935000e+03, 9.930000e+02, 6.256260e+05,
       2.560920e+05, 7.578000e+04, 9.177190e+05, 1.028500e+04,
       8.596000e+03, 2.474000e+03, 2.287000e+03, 1.051160e+05,
       4.361000e+03, 4.200000e+02, 9.757000e+03, 1.886200e+04,
       1.186000e+03, 8.246000e+03, 5.203700e+04, 2.102826e+06,
       3.730000e+02, 2.430000e+02, 1.692640e+05, 1.507600e+04,
       4.696600e+04, 1.976900e+04, 7.561700e+04, 7.550000e+02,
       5.320310e+05, 3.371000e+03, 6.180000e+03, 1.198330e+05,
       2.149000e+03, 1.392448e+06, 5.279000e+03, 1.296830e+06,
       5.924000e+03, 6.884000e+03, 2.383000e+03, 3.250000e+02,
       2.720000e+02, 5.420000e+02, 1.199460e+05, 1.779700e+04,
       1.136000e+03, 7.430000e+02, 1.736100e+05, 4.697000e+03,
       1.930000e+04, 3.107000e+03, 4.591400e+04, 2.150020e+05,
       4.305720e+05, 7.313200e+04, 1.601510e+05, 7.474000e+03,
       9.857700e+04, 1.145372e+06, 6.722000e+03, 7.051000e+03,
       4.192638e+06, 2.338300e+04, 1.024100e+04, 1.767000e+03,
       5.670000e+03, 4.425440e+05, 3.037300e+04, 1.746000e+03,
       1.512900e+04, 4.056200e+04, 1.084000e+03, 1.509100e+04,
       1.161000e+03, 9.585000e+03, 1.551900e+04, 5.639000e+03,
       5.940000e+03, 3.351400e+04, 1.872000e+03, 3.545000e+03,
       4.014610e+05, 1.915000e+03, 2.453000e+03, 3.338000e+03,
       1.710280e+05, 9.330000e+02, 2.711000e+03, 1.081000e+03,
       2.559000e+03, 4.186000e+03, 2.527000e+03, 9.788400e+04,
       3.384000e+03, 1.580000e+03, 5.862300e+04, 2.023000e+03,
       3.604780e+05, 1.533700e+05, 4.837000e+03, 6.496000e+04,
       1.615300e+04, 5.854900e+04, 8.700000e+03, 6.518600e+04,
       8.223900e+04, 6.328000e+03, 1.356360e+05, 3.210000e+04,
       1.021330e+05, 9.555000e+03, 7.810000e+02, 8.920000e+03,
       7.988000e+03, 3.484300e+04, 4.429890e+05, 1.863000e+03,
       1.461710e+05, 4.542000e+03, 9.631800e+04, 2.200000e+02,
       8.580000e+02, 1.120300e+04, 7.060000e+02, 1.945200e+04,
       1.820200e+04, 2.277570e+05, 1.312000e+03, 5.390000e+02,
       6.492600e+04, 1.102000e+03, 1.400000e+03, 1.539070e+05,
       1.056000e+03, 2.000000e+03, 1.700000e+02, 5.867000e+03,
       1.889800e+04, 1.891220e+05, 2.634510e+05, 7.388000e+03,
       6.887000e+03, 4.967700e+04, 1.996700e+04, 8.110900e+06,
       2.130000e+04, 8.843400e+04, 5.730000e+02, 2.283400e+04,
       2.460000e+02, 1.570000e+02, 5.729000e+03, 1.290920e+05,
       3.922000e+03, 8.670000e+03])

# use numpy to get the highest and the lowest continent population

In [58]:
# Creating np array of continent
cont = world['Continent'].values
cont

array(['North America', 'Asia', 'Africa', 'North America', 'Europe',
       'Europe', 'North America', 'Asia', 'South America', 'Asia',
       'Oceania', 'Antarctica', 'Antarctica', 'North America', 'Oceania',
       'Europe', 'Asia', 'Africa', 'Europe', 'Africa', 'Africa', 'Asia',
       'Europe', 'Asia', 'North America', 'Europe', 'Europe',
       'North America', 'North America', 'South America', 'South America',
       'North America', 'Asia', 'Asia', 'Antarctica', 'Africa', 'Africa',
       'North America', 'Oceania', 'Europe', 'South America', 'Asia',
       'Africa', 'Africa', 'Africa', 'Africa', 'Oceania', 'South America',
       'Africa', 'Africa', 'North America', 'North America', 'Oceania',
       'North America', 'Asia', 'Europe', 'Europe', 'Africa',
       'North America', 'Europe', 'North America', 'Africa',
       'South America', 'Africa', 'Africa', 'Africa', 'Europe', 'Europe',
       'Africa', 'Europe', 'Oceania', 'South America', 'Europe', 'Europe',
       'Oceania', 'Africa', 'Europe', 'Asia', 'Africa', 'Europe',
       'Africa', 'North America', 'Africa', 'Africa', 'Africa', 'Europe',
       'North America', 'North America', 'North America', 'South America',
       'Oceania', 'South America', 'Asia', 'Antarctica', 'North America',
       'Europe', 'North America', 'Europe', 'Asia', 'Asia', 'Africa',
       'Europe', 'Asia', 'Asia', 'Europe', 'Asia', 'Europe',
       'North America', 'Asia', 'Asia', 'Asia', 'Africa', 'Asia', 'Asia',
       'Oceania', 'North America', 'Asia', 'Asia', 'Asia', 'Asia',
       'Africa', 'Africa', 'North America', 'Europe', 'Asia', 'Africa',
       'Europe', 'Europe', 'Europe', 'Asia', 'Africa', 'Europe', 'Europe',
       'Africa', 'Asia', 'North America', 'Oceania', 'Europe', 'Africa',
       'Europe', 'Asia', 'Asia', 'Oceania', 'Africa', 'Africa',
       'North America', 'North America', 'Africa', 'Africa', 'Asia',
       'Africa', 'Africa', 'Oceania', 'Africa', 'Oceania', 'Africa',
       'North America', 'Oceania', 'Europe', 'Europe', 'Asia', 'Oceania',
       'Oceania', 'Asia', 'Asia', 'North America', 'Oceania',
       'South America', 'Asia', 'Oceania', 'Oceania', 'Europe',
       'North America', 'Asia', 'Europe', 'South America', 'Asia',
       'Oceania', 'Asia', 'Africa', 'Europe', 'Europe', 'Africa', 'Asia',
       'Africa', 'Africa', 'Asia', 'Antarctica', 'Africa', 'Europe',
       'Oceania', 'Africa', 'North America', 'Europe', 'Africa',
       'North America', 'Africa', 'South America', 'Europe', 'Europe',
       'Europe', 'Africa', 'Africa', 'Asia', 'North America', 'Africa',
       'Africa', 'Asia', 'Asia', 'Oceania', 'Asia', 'Asia', 'Oceania',
       'North America', 'Africa', 'Asia', 'Oceania', 'Asia', 'Africa',
       'Africa', 'Europe', 'Oceania', 'South America', 'North America',
       'Asia', 'Europe', 'North America', 'South America',
       'North America', 'North America', 'Asia', 'Oceania', 'Oceania',
       'Oceania', 'Asia', 'Europe', 'Africa', 'Africa', 'Africa'],
      dtype=object)

In [59]:
# call np array of population
pop

array([    103000,   22720000,   12878000,       8000,    3401200,
            78000,     217000,    2441000,   37032000,    3520000,
            68000,          0,          0,      68000,   18886000,
          8091800,    7734000,    6695000,   10239000,    6097000,
         11937000,  129155000,    8190900,     617000,     307000,
          3972000,   10236000,     241000,      65000,    8329000,
        170115000,     270000,     328000,    2124000,          0,
          1622000,    3615000,   31147000,        600,    7160400,
         15211000, 1277558000,   14786000,   15085000,   51654000,
          2943000,      20000,   42321000,     578000,     428000,
          4023000,   11201000,       2500,      38000,     754700,
         10278100,   82164700,     638000,      71000,    5330000,
          8495000,   31471000,   12646000,   68470000,    3850000,
           293000,   39441700,    1439200,   62565000,    5171300,
           817000,       2000,   59225700,      43000,     119000,
          1226000,   59623400,    4968000,   20212000,      25000,
          7430000,     456000,    1305000,    1213000,     453000,
         10545700,      94000,      56000,   11385000,     181000,
           168000,     861000,    6782000,          0,    6485000,
          4473000,    8222000,   10043200,  212107000, 1013662000,
                0,    3775100,   67702000,   23115000,     279000,
          6217000,   57680000,    2583000,    5083000,  126714000,
         16223000,   30080000,    4699000,   11168000,      83000,
            38000,   46844000,    1972000,    5433000,    3282000,
          3154000,    5605000,     154000,      32300,   18827000,
          2153000,    3698500,     435700,    2424200,     473000,
         28351000,      34000,    4380000,   15942000,     286000,
         98881000,      64000,    2024000,   11234000,     380200,
         45611000,    2662000,      78000,   19680000,    2670000,
            11000,     395000,    1158000,   10925000,   22244000,
           149000,    1726000,     214000,   10730000,       2000,
        111506000,    5074000,       2000,   15864000,    4478500,
         23930000,      12000,    3862000,    2542000,  156483000,
          2856000,         50,   25662000,   75967000,      19000,
          4807000,   38653600,    3869000,   24039000,    9997600,
          5496000,    3101000,     235000,     599000,     699000,
         22455500,  146934000,    7733000,   21607000,   29490000,
          9481000,    3567000,          0,       6000,       3200,
           444000,    4854000,    6276000,      27000,   10097000,
             7000,     147000,     417000,    5398700,    1987800,
          8861400,    1008000,      77000,   16125000,      17000,
          7651000,    4629000,   61399000,    6188000,       2000,
          4459000,     885000,      99000,    1295000,    9586000,
         66591000,      12000,   22256000,   33517000,   21778000,
         50456000,          0,    3337000,  278357000,   24318000,
             1000,     114000,   24170000,      21000,      93000,
         79832000,     190000,      15000,     180000,   18112000,
         10640000,   40377000,    9169000,   11669000], dtype=int64)

In [60]:
# Continent with highest population
cont[pop.argmax()]

'Asia'

In [61]:
# Continent with lowest population
cont[pop.argmin()]

'Antarctica'