In [2]:
# use product data to compute the following using np: 
# extract the  Year_of_Birth, Education_Level, Marital_Status, Disposable_Income, No_of_Kids_in_home and       
# No_of_Teen_in_home column from the data
#     compute the aggregation of sum of Amount_on_SweetProducts, Amount_on_GoldProds, mean and median
#     compute the maximum  and minimum of Amount_on_SweetProducts,Amount_on_GoldProds  
#     indicate the Education_Level and Marital_Status with minimum  and maximum Amount_on_SweetProducts,Amount_on_GoldProds
#     indicate the Year_of_Birth with minimum and maximum Amount_on_SweetProducts,Amount_on_GoldProds

In [3]:
# Importing libraries
import numpy as np
import pandas as pd

In [40]:
# Importing dataset
product = pd.read_csv('C:\\Users\\MY LAPTOP\\Desktop\\SQI\Data Science\\Numpy\Datasets\\product.csv')
product.head(20)

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0
5,ID_3S3HRGH6,1960,Master,Married,41090.4,0,1,23-03-2014,32,1,...,0,1,5,0,0,0,0,0,0,0
6,ID_KJQ9B2LE,1953,Graduation,Single,86673.6,0,0,27-11-2012,94,1,...,14,56,3,0,0,0,0,0,0,0
7,ID_6O0NBZXD,1974,Graduation,Together,88711.2,0,0,02-03-2013,61,1,...,91,15,3,0,0,0,0,0,0,0
8,ID_M3QFT8WO,1966,Graduation,Together,35606.4,1,1,12-03-2013,13,1,...,4,8,6,0,0,0,0,0,0,0
9,ID_745JV5PY,1975,Graduation,Married,41305.2,1,0,01-07-2013,88,1,...,2,9,7,0,0,0,0,0,0,0
10,ID_PTC313AB,1974,Graduation,Married,31473.6,1,0,22-09-2013,57,1,...,1,9,8,0,0,0,0,0,0,0
11,ID_8QLN8M49,1989,Graduation,Single,82386.0,0,0,10-08-2012,102,1,...,118,38,3,0,0,0,0,0,0,0
12,ID_EV90FGQR,1955,Graduation,Married,56080.8,0,1,18-11-2012,47,2,...,23,29,7,0,0,0,0,0,0,0
13,ID_9DHJ0G4Y,1956,Graduation,Together,51103.2,1,1,29-10-2012,14,5,...,0,0,8,0,0,0,0,0,0,1
14,ID_LE15WJ3W,1976,2n Cycle,Single,49989.6,1,1,09-11-2012,37,2,...,4,29,4,0,0,0,0,0,0,0
15,ID_DPSZTEYW,1958,Graduation,Together,31309.2,1,1,25-02-2014,91,3,...,17,20,5,0,0,0,0,0,0,0
16,ID_GHZ15BJS,1970,Graduation,Single,65763.6,0,1,21-08-2012,72,2,...,27,142,4,0,0,0,0,0,0,0
17,ID_H8O80C53,1965,Master,Single,76766.4,0,1,02-12-2012,100,4,...,12,12,4,0,1,0,0,0,0,0
18,ID_TAZVY8ZL,1977,Graduation,Married,47227.2,1,1,19-03-2014,28,1,...,0,6,6,1,0,0,0,0,0,0
19,ID_1WLYQEA5,1959,2n Cycle,Single,102582.0,0,0,21-06-2014,80,1,...,18,54,2,0,0,0,0,0,0,0

# Extract the  Year_of_Birth, Education_Level, Marital_Status, Disposable_Income, No_of_Kids_in_home and No_of_Teen_in_home column from the data

In [6]:
# Extract Year_of_Birth
birth_year = product['Year_of_Birth'].values
birth_year

array([1955, 1958, 1962, ..., 1952, 1964, 1970], dtype=int64)

In [8]:
# Extract Education_Level
edu = product['Education_Level'].values
edu

array(['Graduation', 'Graduation', 'Graduation', ..., 'Master', 'PhD',
       'Graduation'], dtype=object)

In [9]:
# Extract Marital_Status
marital = product['Marital_Status'].values
marital

array(['Divorced', 'Together', 'Single', ..., 'Married', 'Single',
       'Together'], dtype=object)

In [13]:
#  Extract  Disposable_Income
dispose_income = product['Disposable_Income'].values
dispose_income

array([ 77504.4,  56784. , 103714.8, ...,  80857.2,  58701.6,  27873.6])

In [15]:
#  Extract No_of_Kids_in_home
kids = product['No_of_Kids_in_home'].values
kids

array([1, 0, 0, ..., 0, 1, 1], dtype=int64)

In [16]:
#  Extract No_of_Teen_in_home
teens = product['No_of_Teen_in_home'].values
teens

array([1, 1, 0, ..., 1, 1, 0], dtype=int64)

# Compute the aggregation of sum of Amount_on_SweetProducts,Amount_on_GoldProds, mean and median

In [17]:
# Let's extract the columns
sweetprod = product['Amount_on_SweetProducts'].values
goldprod = product['Amount_on_GoldProds'].values
print("Sweet Products:", sweetprod, "\n")
print("Gold products:", goldprod)

Sweet Products: [ 6 15 18 ...  0  0  1]

Gold products: [20 19 37 ... 70  1  0]

In [18]:
# sum of Amount_on_SweetProducts
np.sum(sweetprod)

42023

In [19]:
# Sum of Amount_on_GoldProds
np.sum(goldprod)

68583

In [20]:
# mean of Amount_on_SweetProducts
np.mean(sweetprod)

26.800382653061224

In [21]:
# mean of Amount_on_GoldProds
np.mean(goldprod)

43.73915816326531

In [22]:
# median of Amount_on_SweetProducts
np.median(sweetprod)

8.0

In [23]:
# median of Amount_on_GoldProds
np.median(goldprod)

25.0

# Compute the maximum  and minimum of Amount_on_SweetProducts, Amount_on_GoldProds

In [24]:
# Maximum of Amount_on_SweetProducts, Amount_on_GoldProds
print("Maximum Amount_on_sweetProducts:", np.max(sweetprod), "\n")
print("Maximum Amount_on_GoldProds:", np.max(goldprod))

Maximum Amount_on_sweetProducts: 263

Maximum Amount_on_GoldProds: 362

In [25]:
# Minimum of Amount_on_SweetProducts, Amount_on_GoldProds
print("Minimum Amount_on_sweetProducts:", np.min(sweetprod), "\n")
print("Minimum Amount_on_GoldProds:", np.min(goldprod))

Minimum Amount_on_sweetProducts: 0

Minimum Amount_on_GoldProds: 0

# Indicate the Education_Level and Marital_Status with minimum  and maximum Amount_on_SweetProducts and Amount_on_GoldProds

In [32]:
# Educational_Level with minimum Amount_on_SweetProducts
edu[np.argmin(sweetprod)]

'Master'

In [33]:
# Its index
np.argmin(sweetprod)

5

In [34]:
# Educational_Level with maximum Amount_on_SweetProducts
edu[np.argmax(sweetprod)]

'Graduation'

In [35]:
# Its index
np.argmax(sweetprod)

642

In [36]:
# To confirm from DataFrame by sorting
product.sort_values(by='Amount_on_SweetProducts', ascending=False)

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
642,ID_O6ZRF42T,1987,Graduation,Single,NaN,1,0,20-02-2013,26,0,...,263,362,1,0,0,0,0,0,0,0
705,ID_AF2NVVNU,1946,PhD,Single,136480.8,0,0,28-05-2014,16,0,...,262,3,1,0,0,0,0,0,0,0
933,ID_5D3W0JB7,1973,Graduation,Married,89659.2,0,1,12-09-2013,99,2,...,195,71,4,0,0,0,0,0,0,0
1467,ID_8YUSY1Y9,1977,2n Cycle,Together,90580.8,0,1,02-08-2012,57,2,...,194,34,4,0,0,0,0,0,0,0
197,ID_WC6BKYXZ,1978,Graduation,Together,116251.2,0,0,06-08-2013,86,1,...,194,21,2,0,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,ID_BG6UIL1G,1968,PhD,Single,63082.8,0,1,05-04-2014,61,1,...,0,7,3,0,0,0,0,0,0,0
269,ID_9L1QA5W3,1974,PhD,Together,24512.4,1,0,24-03-2014,70,1,...,0,1,8,0,0,0,0,0,0,0
270,ID_QP51VU23,1965,Master,Single,69969.6,0,1,12-01-2013,84,4,...,0,130,8,0,0,0,0,0,0,0
578,ID_BWO5QGK7,1971,Graduation,Widow,38256.0,1,0,31-10-2012,20,1,...,0,3,8,0,0,0,0,0,0,0
866,ID_00RN2YC9,1966,Graduation,Together,67255.2,0,0,02-01-2013,16,2,...,0,51,8,1,0,0,0,0,0,1

In [37]:
# Educational_Level with minimum Amount_on_GoldProds
edu[np.argmin(goldprod)]

'Graduation'

In [39]:
# Its index
np.argmin(goldprod)

13

In [41]:
# Educational_Level with maximum Amount_on_GoldProds
edu[np.argmax(goldprod)]

'Graduation'

In [42]:
# Its index
np.argmax(goldprod)

642

In [52]:
# Marital_Status with minimum Amount_on_SweetProducts
marital[np.argmin(sweetprod)]

'Married'

In [53]:
# Marital_Status with maximum Amount_on_SweetProducts
marital[np.argmax(sweetprod)]

'Single'

In [54]:
# Marital_Status with minimum Amount_on_GoldProds
marital[np.argmin(goldprod)]

'Together'

In [55]:
# Marital_Status with maximum Amount_on_GoldProds
marital[np.argmax(goldprod)]

'Single'

# Indicate the Year_of_Birth with minimum and maximum Amount_on_SweetProducts and Amount_on_GoldProds

In [46]:
# Year_of_Birth with minimum Amount_on_SweetProducts
birth_year[np.argmin(sweetprod)]

1960

In [48]:
# Year_of_Birth with maximum Amount_on_SweetProducts
birth_year[np.argmax(sweetprod)]

1987

In [50]:
# Year_of_Birth with minimum Amount_on_GoldProds
birth_year[np.argmin(goldprod)]

1956

In [51]:
# Year_of_Birth with maximum Amount_on_GoldProds
birth_year[np.argmax(goldprod)]

1987